
.calculatorTitle{
    display:flex;
    justify-content: center;
    color: #40916C;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.titleBox {
    display:flex;
    justify-content: center;
    color: #1B4332;
    font-family: 'Roboto';
    font-size: 20px;
}
.inputBox {
    display: flex;
    justify-content: center;
}
.input {
    height: 20px;
    border-radius: 10px;
    color: #40916C;
    font-family: 'Roboto';
    padding: 3px;
}

.units {
    font-family: 'Dancing Script', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
}
.validationTitle{
    font-family: 'Dancing Script', cursive;
    color: #1B4332;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.validationSection {
    display:flex;
    flex-direction:column;
    align-items: center;
}
.boutonValidation {
    width: 200px;
    border-radius: 10px;
    background-color:  #1B4332;
    color: white;
    font-family: 'Roboto';
    padding: 5px;
}
button {
 justify-content: center;
}
.inputBoxVehicule{
    display:flex;
    justify-content: center;
}
.calculatorBloc {
    background-color: #B7E4C7;
    padding: 20px 0 20px 0; 
    margin: 0 20px 0 20px;
}