/* body page resultat */

.bodytext {
    margin-top: 15%;
    font-size: 15px;
    color: #40916C;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 360px) {
    .bodytext {
        font-size: 20px;
}}
@media only screen and (min-width: 420px) {
    .bodytext {
        font-size: 25px;
}}
@media only screen and (min-width: 640px) {
    .bodytext {
        font-size: 35px;
}}
@media only screen and (min-width: 1000px) {
    .bodytext {
        margin-top: 5%;
        font-size: 35px;
}}

/* fin body page resultat */