@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Dancing spirit;
  src: url("../DancingScript-VariableFont_wght.ttf");
}

.bm-burger-button {
  outline: none;
  border: none;
  position: fixed;
  width: 30px;
  height: 25px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  border-radius: 200px;
  background:#FDE6A0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #FDE6A0;
}
.menu-item1 {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background: #a58446;
  transition: background 0.5s;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50px;
}
.menu-item2 {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background: #a58446;
  transition: background 0.5s;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50px;
}
.menu-item3 {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background: #a58446;
  transition: background 0.5s;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50px;
}
.menu-item4 {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  background: #a58446;
  transition: background 0.5s;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50px;
}


/* A partir de ce css il ne faut au possible pas le toucher sous peine d'avoir des bugs*/
.bm-menu-wrap {
  position: absolute;
  top: 86px;
  right: 0px;
  height: 100%;
}



.bm-menu {
  position: absolute!important;
  background: #ecce72;
  font-size: 1.8em;
}


.bm-morph-shape {
  fill:#ecce72;
}

.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.menu-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 2;
}
.bm-item:focus{
  outline: none !important;
}

@media (min-width: 765px) {
  .bm-burger-bars {
  display: none !important;
  }
}
::-webkit-scrollbar {
    display: none;
  }

