@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.invisible{
  display: none !important;
}

.burgerIcon{
 width: 30px;
 height: 30px;
  
}

.open-menu{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px 10px;
}

.container-burger{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 40vw;
  position: absolute;
  background-color: #fde6a0;
  left: 60%;
  top:86px;
  border-radius: 10px 0px 0px 10px;
  z-index: 100000;
  overflow: hidden;
  /* animation: all 3s ease; */
}
.container-burger-animation{
  animation: burger .3s cubic-bezier(.17,.67,.83,.67)forwards;
}
.invisible-burger{
  animation: fadeoutburger .3s cubic-bezier(.17,.67,.83,.67) forwards;
  
}

@keyframes burger{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeoutburger{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.menu-item {
  color: #1b4332 !important;
  text-decoration: none;
  font-weight: 500;
  background: #fde6a0;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 50px;
  font-family: "Roboto";
  text-decoration:'none';
  font-size: 20px;

}

@media screen and (min-width: 765px) {
.Menu-Icon{
  display:none;
}
}
