.solutions-cardsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.categoriesSolutions{
  border-radius: 10px;
  color: #40916c;
  font-family: "Roboto";
  padding: 3px;
}

.selectSolutions{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 80px;
  margin-bottom: 20px;
}
