.ConnectContainer{
    width: 100%;
    height: 82.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ConnectContainer .invisible {
    display: none;
}
.ConnectContainer .visible {
    display: flex !important;
}
.ConnectContainer .underline {
    text-decoration: underline;
    color: red;
}


.ConnectFormContainer{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
[class*="ConnectFormContainer-"]{
    width: 80%;
    background-color:#D8F4DC;
    padding: 20px 0px;
}
.ConnectFormContainer-Top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ConnectFormBtn-top{
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
}
.ConnectFormInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.ConnectFormContainer-Middle{
    background-color:#D8F4DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ConnectFormContainer-Bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ConnectFormBtnValidateInput{
    padding: 10px 12px;
    border-radius: 10px;
    background-color:transparent;
    border:1px solid black;
    cursor: pointer;
    width: 200px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.ConnectFormBtnValidateInput:focus{
    outline: none;
}
.ConnectFormInput label{
    margin: 20px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
}
.ConnectFormInput input {
    width: 200px;
    padding: 10px 12px;
    border-radius: 10px;
    text-align: center;
}
.underlineSign{
    text-decoration: underline !important;
}
.alertSignIn{
    width: 80%;
    background-color: #D8F4DC;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: 600;
    letter-spacing: 1.4px;
}