@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=GFS+Didot&display=swap');


.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
}
.homepage-title {
    font-size: 4rem;
    height: 100%;
    color : #1B4332;
    text-shadow: 2px 0 0 #FFFFFF, 2px 2px 0 #FFFFFF, 0 2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px 0 0 #FFFFFF, -2px -2px 0 #FFFFFF, 0 -2px 0 #FFFFFF, 2px -2px 0 #FFFFFF;
    display: flex;
    align-items: center;
    font-family : 'Dancing Script';
}

button {
    color: #1B4332;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
    height: 70px;
    width: 250px;
    font-size: 30px;
    margin-bottom: 5vh;
    font-family: 'Didot';
}

/* mobile device */
@media (max-width: 420px){

.homepage {
    background-image : url("img-homepage/homepage-mobile-bg.jpg");
    flex-direction: column;
}

.homepage-title {
    margin: 10vh;
}

.homepage-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-connexion {
    margin-bottom: 10vh;
}

}

/* desktop device */
@media (min-width: 420px) {

.homepage {
    background-color: black;
    display: inline-flex;
}





}