.Info-Texte3 {
    
    padding-left: 10px;
    font-size: 1.2em;
    justify-content: space-between;
    
}

.Info {
    background-color: honeydew;
    
}

p {
    font-family: 'Happy Monkey', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #40916C;
    font-size: 20px;
}

.Info img {
    margin-left: 10px;
    width: 300px;
   height: 100px;
   transition: 10s;   
   margin-bottom: 10px;
}

.Info img:hover {
    color: black;
    background-color: honeydew;
    transform: rotate(360deg) scale(1.2);
}

button {
    
    height: 50px;
    width: 130px;
    border-radius: 50px;
    font-family: 'Happy Monkey', cursive;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    color: black;
}

button:hover {
    color: black;
    background-color: honeydew;
}

.Info-container-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info-Image3 {
    display: flex;
    align-items: center;
}
.Info-Button3 {
    width: 80px;
    height: 50px;
    font-size: 8px;
}