.MailForm {
  display: flex;
  padding-left: 10px;
  background-color: honeydew;
  padding-top: 10px;
  padding-bottom: 10px;
}

#message {
  width: 300px;
  height: 70px;
}

#form {
  font-size: 12px;
 
}

input {
  background-color:  rgb(212, 247, 212);
}

textarea {
  background-color:  rgb(212, 247, 212);
}

.envoyer {
  border-radius: 10px;
  padding: 8px 16px;
  border:none;

}