.MailForm {
  display: flex;
  padding-left: 10px;
  background-color: #74C69D;
  padding-top: 10px;
  padding-bottom: 10px;
}

#message {
  width: 300px;
  height: 70px;
}

#form {
  font-size: 12px;
}

.inputAboutUs {
  background-color: #FFFFFF;
  border-radius: 5px;
}

textarea {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.envoyer {
  border-radius: 10px;
  padding: 8px 16px;
  border:none;
  margin-top: 10px;
}

.envoyer:hover {
  color: black;
  background-color: #B7E4C7;
}
