.Objectif {
    display: flex;
    width: 100%;
    font-size: 1.2em;
    justify-content: space-between;
    background-color: #74C69D;
    padding: 30px;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}



.Objectif-Texte {
  padding: 10px;
  font-family: Roboto, sans-serif;
}

p {
  font-family: "Happy Monkey", cursive;
  text-align: justify;
  font-size: 10px;
  margin-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 420px) {
  .Objectif {
    flex-direction: column !important;
  }
}
