.Objectif {
    display: flex;
    width: 100%;
    font-size: 1.2em;
    justify-content: space-between;
    background-color: #74C69D;
    padding: 30px;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    
}

.Objectif-Texte {
    padding: 10px;
    font-family: Roboto, sans-serif;
   
}

h2 {
    align-self: center;
    justify-self: first baseline;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #40916C;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    /*transform: translateX(-50%);
*/
}

p {
    font-family: 'Happy Monkey', cursive;
    text-align: justify;
    font-size: 10px;
    margin-left: 10px;
    padding-right: 10px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 50px;
}

@media screen and (max-width:420px){
    .Objectif {
        flex-direction: column !important
    }
}


