/* resultat calculator page resultat*/

.result {
    background: #40916C;
    width: 80%;
    border-radius: 10px;
    background:#74C69D;
    height: 70px;
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto; 
}
@keyframes clignoteRed {
    0%, 100%{box-shadow:0px 0px 20px #ee0606;}
    50%{box-shadow:0px 0px 0px #b82828;}
}
@keyframes clignoteGreen {
    0%, 100%{box-shadow:0px 0px 20px #2dee06;}
    50%{box-shadow:0px 0px 0px #2dee06;}
}
.logoResult {
border-radius: 30px;
height: 30px;
margin-right: 40px;
margin-top: auto;
margin-bottom: auto;
animation-name: clignoteRed;
animation-duration: 1s;
animation-iteration-count:infinite;
}
.logoResult2 {
    border-radius: 30px;
    height: 30px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    animation-name: clignoteGreen;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    }
.resultText {
    width: 100px;
    color: rgb(250, 219,173) ;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background:#74C69D;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 360px) {
    .resultText {
        width: 180px;
        font-size: 25px;
}}

@media only screen and (min-width: 420px) {
    .resultText {
        width: 180px;
        font-size: 25px;
}}

@media only screen and (min-width: 640px) {
    .result {
        width: 60%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .logoResult{
        height: 45px;
    }
    .logoResult2{
        height: 45px;
    }
    .resultText {
        width: 260px;
        font-size: 35px;
    }}

@media only screen and (min-width: 1000px) {
    .result {
        width: 40%;
        margin-bottom: 5%;
        margin-top: 5%;
    }}


/* fin resultat calculator */