/* resultat calculator page resultat*/
.visible {
    display: flex;
}
.invisible {
    display: none ;
}
.result {
    width: 80%;
    border-radius: 10px;
    background:#74C69D;
    height:40px;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px; 
}
.discover-text {
    margin-bottom: 30px;
    margin-top: 30px; 
    font-weight: bold;
    font-size: 8px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #40916C;
}
.score-text {
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 8px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #40916C;
}
@keyframes clignoteRed {
    0%, 100%{box-shadow:0px 0px 20px #ee0606;}
    50%{box-shadow:0px 0px 0px #b82828;}
}
@keyframes clignoteGreen {
    0%, 100%{box-shadow:0px 0px 20px #2dee06;}
    50%{box-shadow:0px 0px 0px #2dee06;}
}

.logoResult {
border-radius: 30px;
height: 30px;
margin-right: 40px;
margin-top: auto;
margin-bottom: auto;
animation-name: clignoteRed;
animation-duration: 1s;
animation-iteration-count:infinite;
}
.logoResult2 {
    border-radius: 30px;
    height: 30px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    animation-name: clignoteGreen;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    }
.resultText {
    
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    color: #1B4332;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background:#1a0b70;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width: 360px) {
    .resultText {
        width: 180px;
        font-size: 25px;
}}

@media only screen and (min-width: 420px) {
    .result {
        width: 50%;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .resultText {
        width: 120px;
        font-size: 25px;
}}

@media only screen and (min-width: 640px) {
    .result {
        width: 60%;
        height:70px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .logoResult{
        height: 45px;
    }
    .logoResult2{
        height: 45px;
    }
    .resultText {
        width: 260px;
        font-size: 35px;
    }}

@media only screen and (min-width: 1000px) {
    .result {
        width: 40%;
        margin-bottom: 5%;
        margin-top: 5%;
    }}


/* fin resultat calculator */

