.UserPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    min-height: 80vh;
}
.UserPageContainer button:focus{
    outline: none !important;
}
.UserPageHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.Disconnect-btn{
    background-color: #2F3E46;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    color: #B7E4C7;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid #2F3E46;
    transition: all .4s cubic-bezier(.64,.2,.91,.63);
}
.Disconnect-btn:focus , .Disconnect-btn:active{
    outline: none;
}
.Disconnect-btn:hover{
    background-color: white;
    border-color: #2F3E46;
    color: #2F3E46;
}
.UserPageBody{
    width: 100%;
    height: 500px;
}
.UserPageImgProfils {
    margin: 30px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.UserPageImgProfils div{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #D8F4DC;
    box-shadow: 1px 3px 14px #D8F4DC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserPageButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.UserPageButton-btn{
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #2F3E46;
    color: #B7E4C7;
    margin-right: 10px;
    cursor: pointer;
}
.UserPageModifiedInfo, .calcul, .UserPageHistorical{
    margin: 18px 0px;
    width: 100%;
    background-color: #D8F4DC;
    position: relative;
    padding: 10px 0px;
}
.UserPageToggleTitle{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.UserPageToggleContainerInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.InputUserPageModified{
    margin: 10px 0px;
}
.UserPageCurrenntUser{
    color: #2F3E46;
    font-size: 1rem;
    font-family: "Roboto";
}
.ConnectContainerErrorLogin{
    background-color: #D8F4DC;
    width: 80%;
    justify-content: center;
    font-weight: 600;
    display: none;
}
.afterResult{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.afterResult span{
    margin-top: 30px;
}
.UserPageHistorical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historyList{
    list-style: none;
    padding: 0px;

}
.listvalute{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.calculator{
    width: 100%;
}
.invisible{
    display: none;
}

@media screen and (max-width: 496px){
    .UserPageHeader{
        align-items: center;
        flex-direction: column;
        padding: 0px !important;
        margin: 10px 0px;
    }
    .UserPageCurrenntUser{
        margin-top: 10px;
        text-align: center;
    }
    .UserPageButton{
        flex-direction: column;
    }
    .UserPageButton button{
        margin-top: 7px;
    }
}