.UserPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
    min-height: 81vh;
}
.UserPageContainer button:focus{
    outline: none !important;
}
.UserPageHeader{
    max-width: 1400px;
    margin: 0px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.Disconnect-btn{
    background-color: #2F3E46;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    color: #B7E4C7;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid #2F3E46;
    transition: all .4s cubic-bezier(.64,.2,.91,.63);
}
.Disconnect-btn:focus , .Disconnect-btn:active{
    outline: none;
}
.Disconnect-btn:hover{
    background-color: white;
    border-color: #2F3E46;
    color: #2F3E46;
}
.UserPageBody{
    width: 100%;
    height: 500px;
}
.UserPageImgProfils {
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.UserPageButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.UserPageButton-btn{
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #2F3E46;
    color: #B7E4C7;
    margin-right: 10px;
    cursor: pointer;
}
.UserPageModifiedInfo, .calcul, .UserPageHistorical{
    margin: 18px 0px;
    width: 100%;
    background-color: #D8F4DC;
    padding: 10px 0px;
}
.UserPageToggleTitle{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 30px;
    padding:0 !important;
}
.UserPageToggleContainerInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.InputUserPageModified{
    margin: 10px 0px;
    height: 20px;
    border-radius: 10px;
    padding: 3px;
    color: #40916c;
    font-family: "Roboto";
}
.UserPageCurrenntUser{
    color: #2F3E46;
    font-size: 1rem;
    font-family: "Roboto";
}
.ConnectContainerErrorLogin{
    background-color: #D8F4DC;
    width: 80%;
    justify-content: center;
    font-weight: 600;
    display: none;
    color: red;
}
.afterResult{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.afterResult span{
    margin-top: 30px;
}
.UserPageHistorical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historyList{
    list-style: none;
    padding: 0px;

}
.listvalute{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.calculator{
    width: 100%;
}
.invisible{
    display: none;
}

@media screen and (max-width: 496px){
    .UserPageHeader{
        align-items: center;
        flex-direction: column;
        padding: 0px !important;
        margin: 10px 0px;
    }
    .UserPageCurrenntUser{
        margin-top: 10px;
        text-align: center;
    }
    .UserPageButton{
        flex-direction: column;
    }
    .UserPageButton button{
        margin-top: 7px;
    }
}
.message-result-user{
    color: black;
    font-weight: 600;
}
.formchoiceAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
}
.allInputUser{
    display:flex;
    justify-content: space-evenly;
    max-width: 700px;
    width: 100%;
}
.groupeRadio{
    display: flex;
    align-items: center;
}
.imgchoiceavatar{
    width: 50px;
    margin-left: 5px;
}
.AvatarVisible{
    width: 100px;
    height: 100px;
}
.AvatarVisible img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.button-choiceAvatar{
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #D8F4DC;
    color: #2F3E46;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.InputUserPageModified:focus, .calculator-input:focus{
    outline:none;
}
.userNameSpan{
    color: #1B4332;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1.1px;
    text-transform: capitalize;
}
.modified-avatar-already{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
#vehiculeSelect:focus{
    outline: none;
}