.UserPageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
}
.UserPageHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.Disconnect-btn{
    background-color: #2F3E46;
    border-radius: 10px;
    padding: 8px 10px;
    border: none;
    color: #B7E4C7;
    text-transform: uppercase;
}
.Disconnect-btn:focus , .Disconnect-btn:active{
    outline: none;
}
.UserPageBody{
    width: 100%;
    height: 500px;
}
.UserPageImgProfils {
    margin: 30px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.UserPageImgProfils div{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #D8F4DC;
    box-shadow: 1px 3px 14px #D8F4DC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserPageInfo{
    padding: 10px;
    width: 100%;
    margin: 40px 0px;
}
.UserPageButton{
    display: flex;
    justify-content: space-between;
}
.UserPageButton-btn{
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #2F3E46;
    color: #B7E4C7;
    margin-right: 10px;
    cursor: pointer;
}
.UserPageModifiedInfo, .UserPageCalculator, .UserPageHistorical{
    margin-top: 18px;
    max-width: 600px;
    width: 100%;
    height: 400px;
    background-color: #D8F4DC;
    position: relative;
}
.UserPageToggleTitle{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
}
.UserPageToggleContainerInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.InputUserPageModified{
    margin: 10px 0px;
}
.UserPageCurrenntUser{
    color: #2F3E46;
    font-size: 1rem;
    font-family: "Roboto";
}
